In [70]:
import pandas as pd
from service import sncf_routes
from datetime import timedelta,datetime

In [75]:
trip1={'origin' :'Aurillac', 'destinations':['Saint Brieuc']}
trip2={'origin' :'Ussel', 'destinations':['Saint Brieuc']}
trip3={'origin' :'Tulle', 'destinations':['Saint Brieuc']}
trip4={'origin' :'Brive la Gaillarde', 'destinations':['Saint Brieuc']}
trip5={'origin' :'Perigueux', 'destinations':['Saint Brieuc']}
trip6={'origin' :'Clermont Ferrand', 'destinations':['Saint Brieuc']}
trip7={'origin' :'Murat', 'destinations':['Saint Brieuc']}
trip8={'origin' :'Aubusson', 'destinations':['Saint Brieuc']}
trip9={'origin' :'Limoges', 'destinations':['Saint Brieuc']}
trip10={'origin' :'Angouleme', 'destinations':['Angers']}
trip11={'origin' :'Angers', 'destinations':['Saint Brieuc']}

trip_list = [trip1,trip2,trip3,trip4,trip5,trip6,trip7,trip8,trip9]
trip_list = [trip10,trip11]
dates = []

for delta in range(0,40):
    dt_string = datetime(2017,8,8)+ timedelta(days=delta)
    dates.append(dt_string.isoformat())

In [76]:
print trip_list
print dates

[{'origin': 'Angouleme', 'destinations': ['Angers']}, {'origin': 'Angers', 'destinations': ['Saint Brieuc']}]
['2017-08-08T00:00:00', '2017-08-09T00:00:00']

In [77]:
df = pd.DataFrame()
for trip in trip_list:
    origin = trip['origin']
    for destination in trip['destinations']:
        for dt in dates:
            df_result = sncf_routes.get_routes(origin,destination,dt)
            df = pd.concat([df,df_result],axis=0)

200

 Itineraries found for Angouleme-Angers: 1

200

 Itineraries found for Angouleme-Angers: 6

BUS
200

 Itineraries found for Angers-Saint Brieuc: 1

200

 Itineraries found for Angers-Saint Brieuc: 6

BUS

In [78]:
df.to_csv('train_test_3.csv',index=False,encoding='utf-8')

## Add to existing dataset

In [16]:
def add_to_existing_data(df):
    df_original = pd.read_csv('train_test.csv')
    date_cols =['trip_departureDate','trip_arrivalDate','departureDate','arrivalDate']
    df_original[date_cols] = df_original[date_cols].applymap(lambda x: pd.to_datetime(x, format="%Y-%m-%dT%H:%M:%S"))
    df_original.total_duration = pd.to_timedelta(df_original.total_duration)
    df_original = pd.concat([df_original,df],axis=0)
    df_original.to_csv('train_test_2.csv',index=False,encoding='utf-8')

## Aggregate data

In [18]:
df.head()

,TGV,arrivalDate,availablePhysicalSpaces,baseClasses,bookingType,boundaryPoint,carrierCode,departureDate,destination,destinationCode,...,trainType,transporter,transporterRating,trip_arrivalDate,trip_departureDate,trip_id,trip_name,trip_rank,unsellableReason,vehicleType
0,True,2017-08-16 07:49:00,"[A, B]",None,RI,None,SN,2017-08-16 06:23:00,LE MANS GARE,FRAET,...,TER,TER,None,2017-08-16T10:12:00,2017-08-16T06:23:00,21bef0c0-3749-4f27-af81-8ede3b47bae2,TOURS to SAINT BRIEUC,0,NONE,TRAIN
1,True,2017-08-16 10:12:00,"[A, B]",None,RN,None,SN,2017-08-16 08:39:00,SAINT BRIEUC,FRSBK,...,TGA,TGV,None,2017-08-16T10:12:00,2017-08-16T06:23:00,21bef0c0-3749-4f27-af81-8ede3b47bae2,TOURS to SAINT BRIEUC,1,NONE,TRAIN
0,True,2017-08-16 08:56:00,"[A, B]",None,RI,None,SN,2017-08-16 07:53:00,LE MANS GARE,FRAET,...,TER,TER,None,2017-08-16T11:23:00,2017-08-16T07:53:00,f4b8652a-a620-4c50-aab4-858beb34acb7,TOURS to SAINT BRIEUC,0,NONE,TRAIN
1,True,2017-08-16 10:07:00,"[A, B]",None,RN,None,SN,2017-08-16 09:12:00,RENNES,FRRNS,...,TGA,TGV,None,2017-08-16T11:23:00,2017-08-16T07:53:00,f4b8652a-a620-4c50-aab4-858beb34acb7,TOURS to SAINT BRIEUC,1,NONE,TRAIN
2,True,2017-08-16 11:23:00,"[A, B]",None,RI,None,SN,2017-08-16 10:34:00,SAINT BRIEUC,FRSBK,...,TER,TER,None,2017-08-16T11:23:00,2017-08-16T07:53:00,f4b8652a-a620-4c50-aab4-858beb34acb7,TOURS to SAINT BRIEUC,2,NONE,TRAIN

In [80]:
cols_price = [c for c in df.columns if 'price' in c]

groupy = df[['trip_id','total_trains','trip_rank','total_duration','trip_departureDate','trip_arrivalDate','origin','destination','trip_name']+cols_price].groupby(['trip_name','trip_departureDate','trip_arrivalDate','total_duration','trip_id']).agg({'min_price':['mean']})

groupy = groupy.reset_index()

groupy.columns = groupy.columns.droplevel(1)

groupy.sort_values(by='total_duration')

,trip_name,trip_departureDate,trip_arrivalDate,total_duration,trip_id,min_price
7,ANGOULEME GARE to ANGERS SAINT LAUD,2017-08-09T06:46:00,2017-08-09T09:01:00,02:15:00,90039553-cd6b-4d3a-9f7e-8defcc6debb5,37.1
2,ANGERS SAINT LAUD to SAINT BRIEUC,2017-08-09T07:44:00,2017-08-09T10:12:00,02:28:00,f23b13ea-876e-4ab4-b695-639d4c7bb025,51.5
8,ANGOULEME GARE to ANGERS SAINT LAUD,2017-08-09T07:46:00,2017-08-09T10:26:00,02:40:00,5d72626c-83e6-4b93-9de0-d1fcf09261d9,37.0
5,ANGERS SAINT LAUD to SAINT BRIEUC,2017-08-09T12:29:00,2017-08-09T15:12:00,02:43:00,baf2554d-ab82-4d73-a5f0-0fcd0cc678d1,33.9
1,ANGERS SAINT LAUD to SAINT BRIEUC,2017-08-08T18:29:00,2017-08-08T21:17:00,02:48:00,3045a395-4d98-4a50-8db6-4d9c966e99ca,44.8
4,ANGERS SAINT LAUD to SAINT BRIEUC,2017-08-09T10:29:00,2017-08-09T13:27:00,02:58:00,a9c53f86-d88e-403a-8643-2106ab199f4d,40.8
0,ANGERS MAITRE ECOLE to SAINT BRIEUC,2017-08-09T07:56:00,2017-08-09T11:23:00,03:27:00,15d62f0d-0a4c-404d-ad8c-ebc88f31ff86,44.6
3,ANGERS SAINT LAUD to SAINT BRIEUC,2017-08-09T07:48:00,2017-08-09T12:23:00,04:35:00,8e321946-79ca-4c08-81ff-95dcdfcd2656,122.5
9,ANGOULEME GARE to ANGERS SAINT LAUD,2017-08-09T08:55:00,2017-08-09T13:31:00,04:36:00,248a6deb-d7e7-47bf-926f-78873374f0b2,32.4
11,ANGOULEME GARE to ANGERS SAINT LAUD,2017-08-09T11:27:00,2017-08-09T16:10:00,04:43:00,ee3764ce-0e1c-4c91-b1c4-d712a8b45410,115.0
6,ANGOULEME GARE to ANGERS SAINT LAUD,2017-08-08T18:15:00,2017-08-08T23:10:00,04:55:00,677d8505-f4f0-4123-817a-437815bd92bc,128.5
10,ANGOULEME GARE to ANGERS SAINT LAUD,2017-08-09T10:15:00,2017-08-09T15:10:00,04:55:00,6e0d071d-b5de-4806-8e3c-3a3026ce2ae5,134.0

In [ ]:
groupy.info()

In [ ]:
groupy.trip_id.value_counts().max()

In [ ]:
min_index = groupy.groupby(["trip_name"])["min_price"].nsmallest(10).reset_index()['level_1'].values

In [ ]:
groupy.iloc[min_index][groupy['trip_name'].str.contains('ANGERS')].sort_values(by=['trip_name','trip_departureDate'])

In [ ]:
df_original[df_original.trip_id.isin(['cceac3fb-009d-4a90-bc4f-96a492edd133','81af140e-ef03-4aa6-b6e1-d7ade660f722'])].sort_values(by='departureDate')